.sudoku {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

table {
  margin: 0 auto;
}

input[type="number"] {
  width: 40px;
}

button {
  margin-top: 20px;
}

.gray {
  background-color: #e6e6e6;
}

div.invalid {
  color: red;
}

div.hint {
  color: green;
}

div.hint-tuple {
  color: #ceb727;
}

input.ng-invalid, input.customInvalid {
  border-color: red;
}

input.highlighted {
  background-color: #c5ff80;
}

input.highlighted-tuple {
  border-color: #ceb727;
}
