<div class="sudoku">
  <form #sudokuForm="ngForm" (ngSubmit)="onSubmit()">
    <table>
      <tr *ngFor="let x of [0, 1, 2, 3, 4, 5, 6, 7, 8]">
        <td *ngFor="let y of [0, 1, 2, 3, 4, 5, 6, 7, 8]">
          <input [disabled]="hintType === 'sudoku solved'"
                 title="Row {{x + 1}}, Column {{y + 1}}"
                 type="number"
                 min="0"
                 max="9"
                 minValue="0"
                 maxValue="9"
                 step="1"
                 [ngClass]="{ 'gray': (x > 2 && x < 6) ? !(y > 2 && y < 6) : (y > 2 && y < 6),
                              'customInvalid': (isCustomInvalid(x, y)),
                              'highlighted': (isHighlighted(x, y)),
                              'highlighted-tuple': (isHighlightedTuple(x, y))
                              }"
                 [(ngModel)]="sudoku.sudokuMassive[x][y]" name="row_{{x}}_column_{{y}}">
        </td>
      </tr>
    </table>
    <button
      [disabled]="sudokuForm.invalid || hintType === 'sudoku solved'" type="button"
      (click)="nextStepClicked()">
      Next Step
    </button>
    <button
      [disabled]="sudokuForm.invalid || hintType === 'sudoku solved'"
      type="button" (click)="solveSudoku()">
      Solve Sudoku
    </button>
    <button
      [disabled]="sudokuForm.invalid || hintType === 'sudoku solved'" type="button"
      (click)="checkForValidSolutions()">
      Check validity
    </button>
    <br>
    <button type="button" (click)="resetSudoku()">Reset all fields</button>
  </form>
  <div class="invalid">
    <span *ngIf="sudokuForm.invalid">
      Numbers must be between 0 and 9.
    </span>
    <span *ngIf="sudokuInvalidMessage === 'invalid numbers'">
      Found an invalid pair of numbers.
    </span>
    <span *ngIf="sudokuInvalidMessage === 'no solution'">
      Sudoku has no valid solution.
    </span>
    <span *ngIf="sudokuInvalidMessage === 'more than one solution'">
      Sudoku has more than one valid solution.
    </span>
    <span *ngIf="hintType === 'next step not found' ">
      Next step not found.
    </span>
  </div>
  <div class="hint">
    <span *ngIf="hintType === 'single in space'">
      This is the only suitable number in the space.
    </span>
    <span *ngIf="hintType === 'single in row'">
      This is the only suitable space for the number in this row.
    </span>
    <span *ngIf="hintType === 'single in column'">
      This is the only suitable space for the number in this column.
    </span>
    <span *ngIf="hintType === 'single in block'">
      This is the only suitable space for the number in this block.
    </span>
    <span *ngIf="hintType === 'found by backtrack'">
      This number was found by trial and error.
    </span>
    <span *ngIf="hintType === 'sudoku solved'">
      Sudoku has been solved!
    </span>
    <span *ngIf="hintType === 'one valid solution'">
      Sudoku is valid!
    </span>
  </div>
  <div class="hint-tuple" *ngIf="tuple.length !== 0">
    <span *ngIf="tuple[0] === 2">
      Found a naked pair ({{tuple[1][0]}}, {{tuple[1][1]}}) on {{tuple[2]}} {{tuple[3] + 1}}.
    </span>
    <span *ngIf="tuple[0] === 3">
      Found a naked triple ({{tuple[1][0]}}, {{tuple[1][1]}}, {{tuple[1][2]}}) on {{tuple[2]}} {{tuple[3] + 1}}.
    </span>
    <span *ngIf="tuple[0] === 4">
      Found a naked quad
      ({{tuple[1][0]}}, {{tuple[1][1]}}, {{tuple[1][2]}}, {{tuple[1][3]}}) on {{tuple[2]}} {{tuple[3] + 1}}.
    </span>
  </div>
</div>
